html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
* {
  box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* workaround for "removing" the bottom gap of the footer */
    background-color: #333;
}

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  /* outline: 3px solid red; */
}

/* body {
  background: red;
}

.page {
  background: blue;
} */

/* .event-planner-container * {
  margin-bottom: 0;
} */

.event-planner-container {
    width: 100%;
    /* margin: 0 auto; */
    padding: 20px;
    text-align: center;
    background-color: white;
    background-image: linear-gradient(135deg, #fee6f0 25%, transparent 25%),
                linear-gradient(225deg, #fee6f0 25%, transparent 25%),
                linear-gradient(315deg, #fee6f0 25%, transparent 25%),
                linear-gradient(45deg, #fee6f0 25%, transparent 25%);
    background-position: -50px 0, -50px 0, 0 0, 0 0;
    background-size: 100px 100px; /* Adjust the size based on the pattern */
    /* outline: 3px solid blue; */
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .description p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .get-started-button {
    background-color: #f85199;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-button:hover {
    background-color: #d32b74;
  }
  
  .features,
  .testimonials,
  .contact,.event-categories {
    margin-top: 50px;
  }
  
  .features h2,
  .testimonials h2,
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style-type: none;
    padding: 0;
  }
  
  .features ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .testimonial {
    margin-bottom: 20px;
  }
  
  .testimonial p {
    font-style: italic;
  }
  
  .testimonial .author {
    font-weight: bold;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
  }
  
  .contact input,
  .contact textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .contact textarea {
    height: 150px;
    /* only vertical resizing is allowed and can't go smaller than 3rem */
    resize: vertical;
    min-height: 3rem;
  }
  
  .submit-button {
    background-color: #f85199;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #d32b74;
  }
  
  footer {
    margin-top: 50px;
    font-size: 0.9rem;
  }
  
  .event-categories h1{
    background-color: gray;
    text-align: center;
  }
.event-categories{
    /* display: flex;
    gap: 30px;
    justify-content: center; */
}
.event-categories ul {
    background-color: rgba(0,0,0,0.2);
    width: 100%; /* important for responsive design */
    border-radius: 5px;
    padding: 0;
}
  .event-categories ul h2 {
    background-color: #e46a9d;
    text-align: center;
    padding: 5px 10px;
    color: white;
    border-radius: 5px 5px 0 0;
    margin: 0;
  }
  .event-categories ul li{
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 24px;
    padding: 5px 10px;
  }